@model IEnumerable<CheeprToKeepr.Models.Service>

<h1>Services</h1>
<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Services</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="Services" asp-action="Create">Add new Service</a>
        </div>
    </div>
    <br />

    @if(Model.Count() > 0) { 
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    @*<th>
                        Services Category ID
                    </th>
                    <th>
                        Vehicle ID
                    </th>
                    <th>
                        Vendor ID
                    </th>*@
                    <th>
                        Name
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Miles at Service
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var service in Model)
                {
                <tr>
                    <td width="25%">@service.Name</td>
                    <td width="25%">@service.ServiceDateTime</td>
                    <td width="25%">@service.VehicleMilesAtService</td>
                    <td width="25%">
                        <div class="w-100 btn-group"role="group">
                            <a class="btn btn-primary" asp-controller="Services" asp-action="Update" asp-route-id="@service.ServicesID" mx-1>Update</a>
                            <a class="btn btn-danger" asp-controller="Services" asp-action="Delete" asp-route-id="@service.ServicesID" mx-1>Delete</a>
                        </div>
                    </td>
                </tr>
                } 
            </tbody>
        </table>
    }else
    {
        <p>No Services exist yet</p>
    }

</div>