@model IEnumerable<CheeprToKeepr.Models.Expense>

<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Expenses</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="Expenses" asp-action="Create">Add new Expense</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Changes
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expense in Model)
                {
                    <tr>
                        <td width="20%">@expense.Name</td>
                        <td width="20%">@expense.ExpenseDateTime</td>
                        <td width="20%">@expense.Cost</td>
                        <td width="20%">@expense.ExpenseCategory.ExpenseType"</td>
                        <td width="20%">
                            <div class="w-100 btn-group" role="group">
                                <a class="btn btn-primary" asp-controller="Expenses" asp-action="Update" asp-route-id="@expense.ExpenseID" mx-1>Update</a>
                                <a class="btn btn-danger" asp-controller="Expenses" asp-action="Delete" asp-route-id="@expense.ExpenseID" mx-1>Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<a class="nav-link text-primary" asp-area="" asp-controller="ExpenseCategory" asp-action="Index">Expense Category</a>*@
    }
    else
    {
        <p>No Categories exist yet</p>
    }

</div>
<footer>
    <div class="col-6 text-right">
        <a class="btn btn-success" asp-area="" asp-controller="ExpenseCategory" asp-action="Index">Expense Category List</a>

    </div>
</footer>